include ../utils/mixins/forms/button.pug
doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxic Hotel
    body.content
        block _header
        block _body
        block _footer